<nav>
<ul class="navigation">
<li>{{#link-to 'index'}}shopYcart{{/link-to}}</li>
<li>{{#link-to 'index'}}Home{{/link-to}}</li>
<li>{{#link-to 'books' }}About Us{{/link-to}}</li>
<li>
{{#link-to 'index'}}Contact Us{{/link-to}}
</li>
</ul>
</nav>

{{yield}}
